---
import '../styles/global.css';
import { getProject } from '../utils/project';

const project = getProject();

interface Props {
	title?: string;
}

const { title = `${project.title} | TheFocus.AI Labs` } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={`${import.meta.env.BASE_URL}favicon.svg`} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@400;500;600;700;900&display=swap" rel="stylesheet">
	</head>
	<body class="h-screen w-screen overflow-hidden bg-paper text-void font-sans flex flex-col antialiased selection:bg-rand-blue selection:text-white">
    <slot name="header" />
		<slot />
	</body>
</html>
